dropdown {
    min-width: 84px;
    box-sizing: border-box;
    background: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    position:absolute;
    visibility:hidden;
    transition:0.5s top, 0.5s height, 0.5s width, 0.5s visibility, 0.5s opacity;
    z-index:9999;
    opacity:0;
    right:8px;
    top:32px;
}
dropdown.open{
    visibility:visible;
    opacity:1;
    top:8px;
}
dpi{
    height:48px;
    width:100%;
    font-size:16px;
    display:block;
    line-height:48px;
    overflow:hidden;
    position:relative;
    padding: 0 16px;
    box-sizing:border-box;
}
dpi:first-child{
    padding-top:8px;
}
dpi:last-child{
    padding-bottom:8px;
}
