menu{
    width:calc(100% - 56px);
    left:-100%;
    top:0;
    margin:0;
    position:fixed;
    background:#FAFAFA;
    height:100%;
    padding:0;
    transition:left 0.5s;
    max-width:280px;
    box-sizing:border-box;
    z-index:501;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
menu.open{
    left:0;
    
}
.nt{
    transition-duration:0s;
}
menu-header{
    height:180px;
    width:100%;
    display:block;
    background:#2196F3 url() no-repeat center center;
    background-size:cover;
    margin-bottom:3px;
}
ml{
    width:100%;
    color:#212121;
}
.single mi{
    height:48px;
    padding:0 16px;
    line-height:48px;
    width:100%;
    box-sizing:border-box;
    display:block;
}
mi t{
    position:absolute;
    left:72px;
}
mi svg{
    position:relative;
    top:6px;
}
mi path{
    fill:rgba(0,0,0,0.87)
}
mh{
    padding-left:16px;
    display:block;
    height:48px;
    color:rgba(0,0,0,0.54);
    line-height:48px;
    font-weight:500;
}
menu-scrim, dialog-scrim{
    width:100%;
    visibility:hidden;
    height:100%;
    background:rgba(0,0,0,0.5);
    opacity:0;
    transition:opacity 0.5s, visibility 0.5s;
    position:fixed;
    top:0;
    left:0;
    z-index:500;
}
menu-scrim.open, dialog-scrim.open{
    width:100%;
    opacity:1;
    visibility:visible;
}