ripple {
	display: block; position: absolute;
	background: #2196F3;
	border-radius: 100%;
	transform: scale(0);
    -webkit-transform: scale(0);
}
ripple.animate {animation: ripple 0.65s linear;-webkit-animation: ripple 0.65s linear;}
@keyframes ripple {
	100% {opacity: 0; transform: scale(2);}
}
@-webkit-keyframes ripple {
	100% {opacity: 0; transform: scale(2.5);-webkit-transform: scale(2);}
}
touch-target ripple{
    background:#fff;
}